@charset "utf-8";
.article-container {
  padding-top: 80px;
}

.article-container > article:nth-child(even) {
  flex-direction: row-reverse;
}

.article-container article {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--clr-light-blue);
  font-size: var(--font-size-reg);
  padding: var(--app-spacing);
  margin-bottom: var(--app-spacing);
  padding-right: var(--app-spacing);
  gap: var(--app-spacing);
}

.article-container article p {
  max-width: 500px;
}

.about-image:not(.about-hex) {
  height: 200px;
}
.about-hex {
  clip-path: var(--app-clip-hex);
  width: 390px;
  aspect-ratio: 1/1;
}

@media(max-width: 900px) {
}

@media(max-width: 600px) {
  .article-container > article:nth-child(odd) {
    flex-direction: column;
  }
  .article-container > article:nth-child(even) {
  flex-direction: column;
  }
}

@media(max-width: 480px) {
}