@charset "utf-8";
/*----------------------------------------------------------->
  Releases Page
<------------------------------------------------------------*/
.releases-wrapper {
  min-height: 100svh;
  font-family: "Kode Mono";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  text-align: center;
}
.releases-wrapper h2 {
  font-size: var(--font-size-subtitle);
  color: var(--clr-green);
}
.releases-wrapper a {
  color: var(--clr-green);
}
.releases-wrapper article {
  width: 700px;
  display: flex;
  justify-content: space-between;
  color: var(--clr-green);
  font-size: var(--font-size-reg);
  background-color: #001;
  padding: var(--app-spacing);
  margin: var(--app-spacing);
}

.release-text:not(.w-100) {
  width: 400px;
  text-align: center;
}
.release-text h4 {
  margin: 5 0;
  font-size: var(--font-size-subtitle);
  text-wrap: wrap;
}
.release-text p {
  font-size: var(--font-size-reg);
  margin-bottom: 5px;
}
.release-text a {
  transition: var(--app-transition);
}
.release-text a:hover {
  color: var(--clr-primary);
}

/* ---- Break Points ----*/
@media(orientation: portrait){
  .releases-wrapper article {
    flex-direction: column;
  }
  .release-text:not(.w-100), .release-text.w-100 {
    width: fit-content;
  }
  .releases-wrapper article {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .release-text p, .release-text h4{
    width: 300px;
  }
}

/*----------------------------------------------------------->
  Something Else page
<------------------------------------------------------------*/
.easter-egg {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-light-blue);
}
.easter-egg h4 {
  text-align: center;
  font-size: var(--font-size-subtitle);
}
.easter-egg p {
  text-align: center;
  font-size: var(--font-size-reg);
  margin-bottom: var(--app-spacing);
}
.easter-egg-icon {
  font-size: var(--font-size-title);
}

/*----------------------------------------------------------->
  Collaborators Page
<------------------------------------------------------------*/
.collaboration-list {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--clr-light-blue);
}
.collaboration-list h3 {
  font-size: var(--font-size-subtitle);
  margin-bottom: 50px;;
}
.collaboration-list ul {
  font-size: var(--font-size-reg);
  margin-bottom: var(--app-spacing);
}
.collaboration-list li {
  margin-bottom: 5px;
}
.collaboration-list a{
  text-align: center;
  color: var(--clr-light-blue);
  transition: var(--app-transition);
}
.collaboration-list a:hover{
  color: var(--clr-primary);
}
/*----------------------------------------------------------->
  About Page (with article.css)
<------------------------------------------------------------*/
.about-contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  color: var(--clr-light-blue);
  margin-bottom: var(--app-spacing);
  font-size: var(--font-size-reg);
}
.about-contact a {
  transition: var(--app-transition);
}
.about-contact a:hover {
  color: var(--clr-primary);
}
/*----------------------------------------------------------->
  Not Found
<------------------------------------------------------------*/
.not-found {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found h1 {
  font-size: var(--font-size-title);
  color: var(--clr-light-blue);
}
.not-found p {
  font-size: var(--font-size-reg);
  color: var(--clr-light-blue);
  margin: var(--app-spacing) 0;
}
.not-found a {
  font-size: var(--font-size-subtitle);
  transition: var(--app-transition);
}
.not-found a:hover{
  color: var(--clr-primary);
}