@charset "utf-8";

:root {
  --app-font-size: 1.6rem;
}
a {
  text-decoration: none;
  color: var(--clr-light);
}

.portfolio-wrapper {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--clr-light);
  transition: var(--app-transition);
}
.portfolio-wrapper label {
  font-size: 1.2rem;
  color: var(--clr-light);
  margin-bottom: 10px;
}
.category-select {
  width: 300px;
  height: 50px;
  font-size: var(--font-size-reg);
  border-radius: var(--app-border-rad);
  background-color: var(--clr-light-blue);
  cursor: pointer;
  margin-bottom: var(--app-spacing);
}
.category-select:active {
  cursor: pointer;
}
.portfolio-framework {
  height: 500px;
  position: relative;
  transition: var(--app-transition);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-form {
  height: 55svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-title {
  font-size: 2rem;
}

.portfolio-framework.fade-out {
  opacity: 0;
}
.portfolio-preview {
  width: 400px;
  height: 237px;
  border-radius: var(--app-border-rad);
  margin-bottom: var(--app-spacing);
}
.portfolio-title {
  font-size: 2rem; 
  text-align: center;
}
.portfolio-description {
  width: 400px;
  font-size: var(--font-size-reg);
}
.info-link {
  font-size: var(--font-size-subtitle);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.collaborators-list {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: var(--clr-light);
  opacity: 0.75;
}

.collaborators-list ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.collaborators-list li a {
  color: lightblue;
  text-decoration: underline;
  font-size: 0.85rem;
}

.left-btn, .right-btn {
  height: 60px;
  width: 60px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  justify-content: space-between;
  align-items: center;
  position: absolute;
  font-size: var(--font-size-subtitle);
  color: var(--clr-primary);
  cursor: pointer;
}
.left-btn {
  left: -100px;
}
.right-btn {
  right: -100px;
}

    
@media (max-width: 600px) {
  .left-btn, .right-btn {
    top: auto;
    bottom: 0;
    transform: translateY(0);
  }
  .left-btn {
  left: 0;
}
.right-btn {
  right: 0px;
}

}
@media (max-width: 480px) {
  .portfolio-preview {
    width: 370px;
    height: 219px;
  }
  .portfolio-description {
    width: 370px;
    margin-bottom: 50px;
  }
  
}