@charset "utf-8";
/* Footer */
footer {
  background-color: var(--clr-bg);
  padding: 40px 20px 20px;
  font-size: 14px;
  color: var(--clr-light);

}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  border-top: 1px solid var(--clr-light);
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}


.footer-column a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-top: 1px solid var(--clr-light);
  padding-top: 20px;
  font-size: 13px;
  color: var(--clr-light);
}

.social-icons {
  display:flex;
}

.social-icons a {
  margin-left: 15px;
  font-size: 18px;
  color: var(--clr-light);
  transition: var(--app-transition);
}

.social-icons a:hover {
  transform: scale(1.1);
}
