@charset "utf-8";

:root {
  --base-size: 70px;
  --neg-base-size: calc(var(--base-size) * -1);
  --tb-margin: calc(var(--base-size) / 2);
  --lr-margin: calc(var(--neg-base-size) / 4);

  --font-size-icons: 3rem;
  --font-size-captions: 1rem;
}


/*----------------------------------------------------------->
	Bottom of page
<------------------------------------------------------------*/
.m-auto {
  margin: -25px auto;
}

.hex {
  clip-path: var(--app-clip-hex);
  width: var(--base-size);
  height: var(--base-size);
  background-color: var(--clr-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-drk);
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: var(--app-transition);
}
.hex:hover {
  transform: translateY(-3px);
}
.hex.mid {
  margin: var(--tb-margin) var(--lr-margin);
}
.hex-links {
  display: flex;
}

.hex-icon {
  font-size: var(--font-size-icons);
}

.icon-caption {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  font-size: var(--font-size-captions);
  color: var(--clr-light);
}

.icon-caption.top {
  top: -34px;
}

.icon-caption.bottom {
  bottom: 0;
}



@media (max-width: 780px) {
  :root{
    --base-size: 60px;
    --font-size-icons: 2.4rem;
  }
}

@media (max-width: 480px) {
  :root{
    --base-size: 40px;
    --font-size-icons: 1.8rem;
    --font-size-captions: 0.8rem;
  }
} 