@charset "utf-8";
:root {
  --app-scrn-size: 70svh;
  --app-icon-size: 6svh;
}

@media(orientation: portrait) {
  :root {
    --app-scrn-size: 70svw;
    --app-icon-size: 6svw;
  }
}
.playground {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-console {
  image-rendering: pixelated;
  height: var(--app-scrn-size);
  width: var(--app-scrn-size);
  display: flex;
  flex-direction: column;
  background-color: var(--clr-light-blue);
  border-bottom: solid 40px #6700dd29;
  border-top: solid 40px #6700dd29;
  border-right: solid 40px #6700dd13;
  border-left: solid 40px #6700dd13;
  outline: 1px solid #456;
  background-clip: padding-box;
}

.icon-wrapper {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  color: var(--clr-bg);
}
.game-intro {
  height: fit-content;
  background-color: var(--clr-bg);
  border: solid 2px var(--clr-primary);
  color: var(--clr-light);
  font-size: var(--font-size-reg);
  font-family: "Kode Mono";
  text-align: center;
  margin: var(--app-spacing);
}

.game-intro h3 {
  text-align: center;
  margin: var(--app-spacing) 0;
  font-size: 2rem;
}

.game-console figcaption {
  font-size: 0.8rem;
  color: var(--clr-drk);
  text-align: center;
}
.game-console img {
  width: var(--app-icon-size);
}