@charset "utf-8";

:root {
  --app-font-size: 1.6rem;
}
a {
  text-decoration: none;
  color: var(--clr-light);
}

.portfolio-form {
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  color: var(--clr-light);
  transition: var(--app-transition);
}
.portfolio-form label {
  font-size: 1.2rem;
  color: var(--clr-light);
  margin-bottom: 10px;
}
.category-select {
  width: 300px;
  height: 50px;
  font-size: 1rem;
  border-radius: var(--app-border-rad);
}
.portfolio-wrapper {
  height: 650px;
  position: relative;
  transition: var(--app-transition);
}

.info-title {
  font-size: 2rem;
  margin: 25px 0;
}

.portfolio-wrapper.fade-out {
  opacity: 0;
}
.portfolio-preview {
  width: 400px;
  height: 237px;
  border-radius: var(--app-border-rad);
  margin-bottom: var(--app-spacing);
}
.portfolio-title {
  font-size: 2rem; 
  text-align: center;
}
.portfolio-description {
  width: 400px;
  font-size: 1.4rem;
  margin-bottom: 25px;
}

.left-btn, .right-btn {
  height: 60px;
  width: 60px;
  text-align: center;
  bottom: 40svh;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.left-btn {
  left: 8svw;
}
.right-btn {
  right: 8svw;
}
@media (max-width: 830px) {
  .portfolio-description {
    font-size: 1.2rem;
  }
  .left-btn, .right-btn {
    bottom: 0;
  }
  .left-btn {
    left: 7svw;
  }
  .right-btn {
    right: 7svw;
  }
  article.flex {
    flex-direction: column;
  }
}
    
@media (max-width: 600px) {

  .portfolio-wrapper {
    height: 550px;
  }
}
@media (max-width: 480px) {
  .portfolio-preview {
    width: 370px;
    height: 219px;
  }
  .portfolio-description {
    width: 370px;
  }
  
}