@charset "utf-8";

/*----------------------------------------------------------->
  Roots
<-----------------------------------------------------------*/

:root {
  --clr-drk: #010518;
  --clr-bg: #001522;
  --clr-light: #fefefe;
  --clr-light-blue: #bad6ff;
  --clr-blue: #60d;
  --clr-primary: #f37121;
  --clr-hover: #e96240;
  --clr-tan: #ffd484;
  --app-spacing: 25px;
  --app-clip-hex: polygon(
    25% 0, 
    75% 0, 
    100% 50%, 
    75% 100%, 
    25% 100%, 
    0 50%
  ); 
  --app-border-rad: 6px;
  --app-transition: all 0.3s ease-in-out;
}

/*----------------------------------------------------------->
  Utility Functions
<-----------------------------------------------------------*/

.container {
  width: min(100% - 30px, 1200px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
  opacity: 0;
}

.circle {
  border-radius: 50%;
}

.pointer {
  cursor: pointer;
}
.image-hover {
  transition: var(--app-transition);
}
.image-hover:hover {
  transform: scale(1.1);
  filter: brightness(0.8) saturate(1.3);
}

.hover {
    transition: var(--app-transition);
}
.hover:hover, .hover.secondary:hover {
  color: var(--clr-blue);
  transform: scale(1.008);
}
.center {
  justify-content: center;
  align-items: center;
}
.mb-10 {
  margin-bottom: 10px;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.space-between {
  justify-content: space-between;
}
.pos-rel {
  position: relative;
}

.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.z5 {
  z-index: 5;
}

.z6 {
  z-index: 6;
}

.z7 {
  z-index: 7;
}

.z8 {
  z-index: 8;
}
.z100 {
  z-index: 100;
}